name: graduation_project
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pip:
    - pyspark==3.5.0
    - pandas
    - seaborn
    - matplotlib
    - pyarrow
    - jupyter
